In [1]:
# Starters
import pandas as pd
from pathlib import Path

In [2]:
# File Pathing
health_spending_csv = Path("Resources/Health_Care_Expenditures_per_Capita_by State_of_Residence_raw_data.csv")
#health_spending_csv = Path("Resources/HC_Expenditures_per_ State_Clean.csv")

#pd.read
spending_data = pd.read_csv(health_spending_csv,skiprows=[0,1])
#spending_data = pd.read_csv(health_spending_csv,)
spending_data = spending_data.dropna(axis=0,how='any',subset=["Health Spending per Capita"])
spending_data.head()

        Location Health Spending per Capita
0  United States                    $9,671
1        Alabama                    $8,741
2         Alaska                   $13,226
3        Arizona                    $8,145
4       Arkansas                    $8,853

In [3]:
## Spending Data

In [4]:
# File Pathing
health_coverage_csv = Path("Resources/Health_Insurance_Coverage_of_the_Total_Population_raw_data_#.csv")
#health_coverage_csv = Path("Resources/HI_Population_Coverage_Clean.csv")

#pd.read
coverage_data = pd.read_csv(health_coverage_csv,skiprows=[0,1])
#coverage_data = pd.read_csv(health_coverage_csv)
coverage_data = coverage_data.dropna(axis=0,how='any',subset=["Employer"])
coverage_data["Employer"] = coverage_data["Employer"].map("{:,}".format)
coverage_data["Non-Group"] = coverage_data["Non-Group"].map("{:,}".format)
coverage_data["Medicaid"] = coverage_data["Medicaid"].map("{:,}".format)
coverage_data["Medicare"] = coverage_data["Medicare"].map("{:,}".format)
coverage_data["Military"] = coverage_data["Military"].map("{:,}".format)
coverage_data["Uninsured"] = coverage_data["Uninsured"].map("{:,}".format)
coverage_data["Total"] = coverage_data["Total"].map("{:,}".format)
coverage_data.head()

,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
0,United States,"158,000,000.0","18,728,800.0","63,145,700.0","45,286,700.0","4,393,600.0","29,349,300.0","319,000,000.0",1.0
1,Alabama,"2,250,900.0","263,400.0","929,500.0","763,800.0","99,000.0","460,400.0","4,767,100.0",NaN
2,Alaska,"339,800.0","24,700.0","149,400.0","70,200.0","37,100.0","80,500.0","701,700.0",NaN
3,Arizona,"3,202,000.0","366,500.0","1,489,600.0","1,145,300.0","105,600.0","789,100.0","7,098,000.0",NaN
4,Arkansas,"1,226,300.0","157,300.0","767,000.0","464,200.0","41,800.0","265,800.0","2,922,500.0",NaN

In [5]:
# Merging
merged_per_state = pd.merge( spending_data, coverage_data, how="left", on=["Location", "Location"] )
merged_per_state.head()

,Location,Health Spending per Capita,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
0,United States,"$9,671","158,000,000.0","18,728,800.0","63,145,700.0","45,286,700.0","4,393,600.0","29,349,300.0","319,000,000.0",1.0
1,Alabama,"$8,741","2,250,900.0","263,400.0","929,500.0","763,800.0","99,000.0","460,400.0","4,767,100.0",NaN
2,Alaska,"$13,226","339,800.0","24,700.0","149,400.0","70,200.0","37,100.0","80,500.0","701,700.0",NaN
3,Arizona,"$8,145","3,202,000.0","366,500.0","1,489,600.0","1,145,300.0","105,600.0","789,100.0","7,098,000.0",NaN
4,Arkansas,"$8,853","1,226,300.0","157,300.0","767,000.0","464,200.0","41,800.0","265,800.0","2,922,500.0",NaN

In [6]:
# File Pathing
#health_coverage_csv = Path("Resources/Health_Insurance_Coverage_of_the_Total_Population_raw_data.csv")
hd_mortality_csv = Path("Resources/Heart_Disease_Mortality_by_State_data-table.csv")

#pd.read
mortaility_data = pd.read_csv(hd_mortality_csv)
mortaility_data = mortaility_data.loc[(mortaility_data["YEAR"] == 2019)]
mortaility_data = mortaility_data.reset_index(drop=True)
XX_to_full = {"AL":"Alabama",
              "AK":"Alaska",
              "AZ":"Arizona",
              "AR":"Arkansas",
              "CA":"California",
              "CO":"Colorado",
              "CT":"Connecticut",
              "DE":"Delaware",
              "DC":"District of Columbia",
              "FL":"Florida",
              "GA":"Georgia",
              "HI":"Hawaii",
              "ID":"Idaho",
              "IL":"Illinois",
              "IN":"Indiana",
              "IA":"Iowa",
              "KS":"Kansas",
              "KY":"Kentucky",
              "LA":"Louisiana",
              "ME":"Maine",
              "MD":"Maryland",
              "MA":"Massachusetts",
              "MI":"Michigan",
              "MN":"Minnesota",
              "MS":"Mississippi",
              "MO":"Missouri",
              "MT":"Montana",
              "NE":"Nebraska",
              "NV":"Nevada",
              "NH":"New Hampshire",
              "NJ":"New Jersey",
              "NM":"New Mexico",
              "NY":"New York",
              "NC":"North Carolina",
              "ND":"North Dakota",
              "MP":"Northern Mariana Islands",
              "OH":"Ohio",
              "OK":"Oklahoma",
              "OR":"Oregon",
              "PA":"Pennsylvania",
              "PR":"Puerto Rico",
              "RI":"Rhode Island",
              "SC":"South Carolina",
              "SD":"South Dakota",
              "TN":"Tennessee",
              "TX":"Texas",
              "UT":"Utah",
              "VT":"Vermont",
              "VA":"Virginia",
              "VI":"Virgin Islands",
              "WA":"Washington",
              "WV":"West Virginia",
              "WI":"Wisconsin",
              "WY":"Wyoming"}
mortaility_data["STATE"]=mortaility_data["STATE"].replace(XX_to_full)
mortaility_data = mortaility_data.rename(columns={"STATE":"Location"})
mortaility_data.head()

   YEAR    Location   RATE DEATHS
0  2019     Alabama  219.6  13448
1  2019      Alaska  129.7    843
2  2019     Arizona  134.0  12587
3  2019    Arkansas  226.5   8669
4  2019  California  136.9  62394

In [7]:
full_combined =  pd.merge( merged_per_state, mortaility_data, how="left", on=["Location", "Location"])
#full_combined = full_combined.dropna (axis=0,how='any',subset=["Health Spending per Capita"])
full_combined

,Location,Health Spending per Capita,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes,YEAR,RATE,DEATHS
0,United States,"$9,671","158,000,000.0","18,728,800.0","63,145,700.0","45,286,700.0","4,393,600.0","29,349,300.0","319,000,000.0",1.0,NaN,NaN,NaN
1,Alabama,"$8,741","2,250,900.0","263,400.0","929,500.0","763,800.0","99,000.0","460,400.0","4,767,100.0",NaN,2019.0,219.6,13448
2,Alaska,"$13,226","339,800.0","24,700.0","149,400.0","70,200.0","37,100.0","80,500.0","701,700.0",NaN,2019.0,129.7,843
3,Arizona,"$8,145","3,202,000.0","366,500.0","1,489,600.0","1,145,300.0","105,600.0","789,100.0","7,098,000.0",NaN,2019.0,134.0,12587
4,Arkansas,"$8,853","1,226,300.0","157,300.0","767,000.0","464,200.0","41,800.0","265,800.0","2,922,500.0",NaN,2019.0,226.5,8669
5,California,"$9,628","18,538,700.0","2,569,600.0","9,790,000.0","4,388,900.0","350,200.0","3,005,400.0","38,642,700.0",NaN,2019.0,136.9,62394
6,Colorado,"$8,286","2,997,100.0","389,900.0","942,300.0","718,500.0","127,200.0","436,700.0","5,611,800.0",NaN,2019.0,127.7,7762
7,Connecticut,"$11,831","1,827,200.0","165,900.0","743,900.0","488,000.0","23,900.0","204,500.0","3,453,300.0",NaN,2019.0,143.1,7354
8,Delaware,"$12,213","467,700.0","38,900.0","191,400.0","162,500.0","17,300.0","62,500.0","940,300.0",NaN,2019.0,154.3,2053
9,District of Columbia,"$13,934","368,400.0","43,400.0","171,000.0","55,300.0","9,000.0","24,200.0","671,300.0",NaN,NaN,NaN,NaN
10,Florida,"$9,490","8,454,200.0","1,995,300.0","3,643,200.0","3,776,000.0","366,300.0","2,757,000.0","20,992,000.0",NaN,2019.0,140.1,47144
11,Georgia,"$8,243","5,037,600.0","575,200.0","1,777,600.0","1,296,300.0","228,300.0","1,379,000.0","10,294,000.0",NaN,2019.0,175.5,19543
12,Hawaii,"$9,555","729,900.0","54,700.0","236,800.0","213,100.0","54,000.0","54,500.0","1,343,000.0",NaN,2019.0,120.3,2503
13,Idaho,"$7,723","858,100.0","150,100.0","272,600.0","262,900.0","23,700.0","183,600.0","1,750,900.0",NaN,2019.0,150.7,3061
14,Illinois,"$9,496","6,743,800.0","637,800.0","2,250,200.0","1,741,400.0","83,200.0","905,900.0","12,362,300.0",NaN,2019.0,162.0,25690
15,Indiana,"$9,927","3,473,000.0","284,100.0","1,152,900.0","965,800.0","65,900.0","570,100.0","6,511,800.0",NaN,2019.0,178.8,14555
16,Iowa,"$9,193","1,664,600.0","150,100.0","596,500.0","477,900.0","26,800.0","144,400.0","3,060,200.0",NaN,2019.0,172.9,7505
17,Kansas,"$8,745","1,527,000.0","158,800.0","389,500.0","421,300.0","55,300.0","259,300.0","2,811,200.0",NaN,2019.0,166.0,6140
18,Kentucky,"$9,744","2,028,200.0","169,600.0","1,101,300.0","684,300.0","60,200.0","275,700.0","4,319,300.0",NaN,2019.0,196.4,10742
19,Louisiana,"$9,657","1,882,500.0","219,500.0","1,316,800.0","618,600.0","61,100.0","400,200.0","4,498,600.0",NaN,2019.0,207.8,11302
20,Maine,"$11,488","605,600.0","74,000.0","259,900.0","237,900.0","19,900.0","105,000.0","1,302,300.0",NaN,2019.0,142.4,2940
21,Maryland,"$10,248","3,213,800.0","319,600.0","1,101,400.0","779,500.0","114,100.0","347,100.0","5,875,500.0",NaN,2019.0,159.3,11770
22,Massachusetts,"$12,729","3,716,400.0","359,400.0","1,468,400.0","872,100.0","32,300.0","202,300.0","6,650,800.0",NaN,2019.0,127.2,11761
23,Michigan,"$9,532","4,968,100.0","511,700.0","2,115,400.0","1,553,400.0","55,500.0","561,600.0","9,765,600.0",NaN,2019.0,193.8,25547
24,Minnesota,"$10,510","3,186,600.0","284,500.0","932,800.0","809,400.0","36,500.0","265,000.0","5,514,800.0",NaN,2019.0,116.7,8401
25,Mississippi,"$8,745","1,209,700.0","135,500.0","693,100.0","407,000.0","51,500.0","370,300.0","2,867,100.0",NaN,2019.0,226.7,7997
26,Missouri,"$9,431","3,089,700.0","341,500.0","854,100.0","975,200.0","79,200.0","600,100.0","5,939,900.0",NaN,2019.0,187.0,15018
27,Montana,"$9,808","446,600.0","83,600.0","216,600.0","187,600.0","18,300.0","86,600.0","1,039,400.0",NaN,2019.0,157.1,2290
28,Nebraska,"$9,917","1,064,200.0","128,500.0","235,600.0","266,300.0","30,700.0","148,300.0","1,873,600.0",NaN,2019.0,144.9,3540
29,Nevada,"$8,114","1,498,600.0","167,800.0","538,500.0","423,300.0","52,400.0","349,000.0","3,029,700.0",NaN,2019.0,198.1,6864
30,New Hampshire,"$11,310","738,900.0","70,100.0","172,800.0","232,300.0","15,300.0","84,600.0","1,314,000.0",NaN,2019.0,143.4,2707
31,New Jersey,"$11,264","4,844,600.0","471,000.0","1,446,600.0","1,201,700.0","45,100.0","690,300.0","8,699,400.0",NaN,2019.0,158.0,18716
32,New Mexico,"$8,459","748,000.0","82,500.0","667,300.0","306,900.0","36,300.0","200,500.0","2,041,400.0",NaN,2019.0,158.2,4245
33,New York,"$12,932","9,423,800.0","1,094,500.0","4,852,600.0","2,455,600.0","81,700.0","1,000,100.0","18,908,300.0",NaN,2019.0,166.6,43806
34,North Carolina,"$8,619","4,692,000.0","675,300.0","1,813,100.0","1,553,100.0","246,900.0","1,159,300.0","10,139,700.0",NaN,2019.0,154.7,19617
35,North Dakota,"$10,653","406,900.0","65,500.0","88,900.0","100,500.0","15,100.0","54,000.0","731,000.0",NaN,2019.0,147.7,1448
36,Ohio,"$10,173","5,973,000.0","454,200.0","2,274,100.0","1,804,400.0","85,900.0","760,000.0","11,351,500.0",NaN,2019.0,188.8,29160
37,Oklahoma,"$8,923","1,742,700.0","209,300.0","651,600.0","576,900.0","75,600.0","571,000.0","3,826,900.0",NaN,2019.0,231.4,10960
38,Oregon,"$9,635","2,037,300.0","235,300.0","858,000.0","667,600.0","37,100.0","293,500.0","4,128,900.0",NaN,2019.0,131.0,7128
39,Pennsylvania,"$11,175","6,413,400.0","636,800.0","2,506,200.0","2,015,200.0","97,100.0","709,100.0","12,377,600.0",NaN,2019.0,172.9,32299
40,Rhode Island,"$10,988","549,100.0","59,600.0","208,900.0","148,200.0","8,000.0","43,400.0","1,017,100.0",NaN,2019.0,159.3,2404
41,South Carolina,"$8,345","2,264,600.0","302,200.0","935,700.0","834,900.0","107,400.0","539,300.0","4,984,200.0",NaN,2019.0,164.0,10579
42,South Dakota,"$11,627","438,000.0","70,300.0","109,000.0","136,800.0","15,600.0","81,500.0","851,300.0",NaN,2019.0,158.1,1840
43,Tennessee,"$8,827","3,177,400.0","374,800.0","1,293,500.0","995,700.0","122,700.0","676,800.0","6,640,900.0",NaN,2019.0,202.8,16814
44,Texas,"$8,028","13,461,200.0","1,603,200.0","4,490,000.0","3,069,700.0","455,100.0","5,207,000.0","28,286,200.0",NaN,2019.0,163.4,46139
45,Utah,"$7,193","1,909,100.0","294,300.0","292,300.0","315,400.0","39,300.0","303,700.0","3,154,100.0",NaN,2019.0,146.5,3882
46,Vermont,"$12,159","289,600.0","29,000.0","142,800.0","104,400.0","5,700.0","26,600.0","598,100.0",NaN,2019.0,151.6,1368
47,Virginia,"$8,826","4,429,500.0","423,400.0","1,107,500.0","1,208,000.0","361,700.0","654,900.0","8,185,100.0",NaN,2019.0,149.1,15062
48,Washington,"$8,964","3,928,300.0","373,400.0","1,468,800.0","1,029,200.0","135,300.0","488,900.0","7,423,900.0",NaN,2019.0,134.8,11862
49,West Virginia,"$11,951","764,600.0","43,800.0","462,600.0","330,500.0","23,000.0","114,500.0","1,739,000.0",NaN,2019.0,197.4,5087
50,Wisconsin,"$9,652","3,209,400.0","299,400.0","911,500.0","882,700.0","47,200.0","327,000.0","5,677,100.0",NaN,2019.0,158.8,12241
51,Wyoming,"$10,111","287,700.0","39,900.0","64,900.0","90,900.0","10,200.0","69,000.0","562,700.0",NaN,2019.0,150.4,1067