In [1]:
import pandas as pd

In [2]:
expenditures_df = pd.read_csv("../Resources/Health Care Expenditures per Capita by State of Residence raw_data.csv")
expenditures_df.head()

,Title: Health Care Expenditures per Capita by State of Residence | KFF,Unnamed: 1
0,Timeframe: 2019,NaN
1,Location,Health Spending per Capita
2,United States,"$9,671"
3,Alabama,"$8,741"
4,Alaska,"$13,226"

In [3]:
insurance_df = pd.read_csv("../Resources/Health Insurance Coverage of the Total Population raw_data.csv")
insurance_df.head()

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN

In [4]:
heart_df = pd.read_csv("../Resources/Heart Disease Mortality by State data-table.csv")
heart_df.head()

   YEAR STATE   RATE DEATHS                                       URL
0  2020    AL  237.5  14739     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  139.8    915      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  144.8  14196     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  222.5   8621    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  144.0  66538  /nchs/pressroom/states/california/ca.htm

In [5]:
expenditures_df.columns

Index(['Title: Health Care Expenditures per Capita by State of Residence | KFF', 'Unnamed: 1'], dtype='object')

In [6]:
insurance_df.columns

Index(['Title: Health Insurance Coverage of the Total Population | KFF',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [7]:
# Create "Insured (%) Column"
insurance_df["Insured (%)"]=''
insurance_df.head()

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Insured (%)
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes,
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1,
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN,
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN,

In [ ]:
# Drop

In [ ]:
# Create "Insured (%) Column"


insurance_df["Insured (%)"]=

In [7]:
# Drop unnecessary columns
insurance_df = insurance_df.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 7','Unnamed: 8'], axis=1)
insurance_df.head()

  Title: Health Insurance Coverage of the Total Population | KFF Unnamed: 6
0                                    Timeframe: 2019                    NaN
1                                           Location              Uninsured
2                                      United States                  0.092
3                                            Alabama                  0.097
4                                             Alaska                  0.115

In [8]:
#Rename columns
insurance_df = insurance_df.rename(columns={"Title: Health Insurance Coverage of the Total Population | KFF":"State", 
                             "Unnamed: 6":"Uninsured (%)"})
insurance_df.head()

             State Uninsured (%)
0  Timeframe: 2019           NaN
1         Location     Uninsured
2    United States         0.092
3          Alabama         0.097
4           Alaska         0.115

In [9]:
insurance_df = insurance_df.iloc[:54]
insurance_df

                   State Uninsured (%)
0        Timeframe: 2019           NaN
1               Location     Uninsured
2          United States         0.092
3                Alabama         0.097
4                 Alaska         0.115
5                Arizona         0.111
6               Arkansas         0.091
7             California         0.078
8               Colorado         0.078
9            Connecticut         0.059
10              Delaware         0.066
11  District of Columbia         0.036
12               Florida         0.131
13               Georgia         0.134
14                Hawaii         0.041
15                 Idaho         0.105
16              Illinois         0.073
17               Indiana         0.088
18                  Iowa         0.047
19                Kansas         0.092
20              Kentucky         0.064
21             Louisiana         0.089
22                 Maine         0.081
23              Maryland         0.059
24         Massachusetts          0.03
25              Michigan         0.058
26             Minnesota         0.048
27           Mississippi         0.129
28              Missouri         0.101
29               Montana         0.083
30              Nebraska         0.079
31                Nevada         0.115
32         New Hampshire         0.064
33            New Jersey         0.079
34            New Mexico         0.098
35              New York         0.053
36        North Carolina         0.114
37          North Dakota         0.074
38                  Ohio         0.067
39              Oklahoma         0.149
40                Oregon         0.071
41          Pennsylvania         0.057
42          Rhode Island         0.043
43        South Carolina         0.108
44          South Dakota         0.096
45             Tennessee         0.102
46                 Texas         0.184
47                  Utah         0.096
48               Vermont         0.044
49              Virginia          0.08
50            Washington         0.066
51         West Virginia         0.066
52             Wisconsin         0.058
53               Wyoming         0.123

In [10]:
# Drop unnecessary rows
insurance_df = insurance_df.drop(labels=[0,1])
insurance_df = insurance_df.reset_index()
insurance_df.head()

   index          State Uninsured (%)
0      2  United States         0.092
1      3        Alabama         0.097
2      4         Alaska         0.115
3      5        Arizona         0.111
4      6       Arkansas         0.091

In [11]:
insurance_df = insurance_df.drop(columns="index")
insurance_df

                   State Uninsured (%)
0          United States         0.092
1                Alabama         0.097
2                 Alaska         0.115
3                Arizona         0.111
4               Arkansas         0.091
5             California         0.078
6               Colorado         0.078
7            Connecticut         0.059
8               Delaware         0.066
9   District of Columbia         0.036
10               Florida         0.131
11               Georgia         0.134
12                Hawaii         0.041
13                 Idaho         0.105
14              Illinois         0.073
15               Indiana         0.088
16                  Iowa         0.047
17                Kansas         0.092
18              Kentucky         0.064
19             Louisiana         0.089
20                 Maine         0.081
21              Maryland         0.059
22         Massachusetts          0.03
23              Michigan         0.058
24             Minnesota         0.048
25           Mississippi         0.129
26              Missouri         0.101
27               Montana         0.083
28              Nebraska         0.079
29                Nevada         0.115
30         New Hampshire         0.064
31            New Jersey         0.079
32            New Mexico         0.098
33              New York         0.053
34        North Carolina         0.114
35          North Dakota         0.074
36                  Ohio         0.067
37              Oklahoma         0.149
38                Oregon         0.071
39          Pennsylvania         0.057
40          Rhode Island         0.043
41        South Carolina         0.108
42          South Dakota         0.096
43             Tennessee         0.102
44                 Texas         0.184
45                  Utah         0.096
46               Vermont         0.044
47              Virginia          0.08
48            Washington         0.066
49         West Virginia         0.066
50             Wisconsin         0.058
51               Wyoming         0.123

In [12]:
# Create "Insured (%) Column"
insurance_df["Insured (%)"]=''
insurance_df.head()

           State Uninsured (%) Insured (%)
0  United States         0.092
1        Alabama         0.097
2         Alaska         0.115
3        Arizona         0.111
4       Arkansas         0.091

In [13]:
insured = []

# for index, row in hotel_df.iterrows():
#     latitude = hotel_df.loc[index, "Lat"]
#     longitude = hotel_df.loc[index, "Lng"]

for index, row in insurance_df.iterrows():
    uninsured = insurance_df.loc[index, "Uninsured (%)"]
#     print(uninsured)
    percent = (1 - int(float(uninsured)))
#     print(percent)
    insured.append(percent)

print(insured)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [14]:
# insurance_df["Uninsured (%)"].astype