In [1]:
import pandas as pd
from decimal import Decimal

In [2]:
# Import csv and display dataframe
insurance_df = pd.read_csv("../Resources/Health Insurance Coverage of the Total Population raw_data.csv")
insurance_df.head()

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN

In [3]:
# Print column names
insurance_df.columns

Index(['Title: Health Insurance Coverage of the Total Population | KFF',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [4]:
# Drop unnecessary rows
insurance_df = insurance_df.iloc[:54]
insurance_df

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
5,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
6,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN
7,California,0.48,0.066,0.253,0.114,0.009,0.078,1,NaN
8,Colorado,0.534,0.069,0.168,0.128,0.023,0.078,1,NaN
9,Connecticut,0.529,0.048,0.215,0.141,0.007,0.059,1,NaN
10,Delaware,0.497,0.041,0.204,0.173,0.018,0.066,1,NaN
11,District of Columbia,0.549,0.065,0.255,0.082,0.013,0.036,1,NaN
12,Florida,0.403,0.095,0.174,0.18,0.017,0.131,1,NaN
13,Georgia,0.489,0.056,0.173,0.126,0.022,0.134,1,NaN
14,Hawaii,0.543,0.041,0.176,0.159,0.04,0.041,1,NaN
15,Idaho,0.49,0.086,0.156,0.15,0.014,0.105,1,NaN
16,Illinois,0.546,0.052,0.182,0.141,0.007,0.073,1,NaN
17,Indiana,0.533,0.044,0.177,0.148,0.01,0.088,1,NaN
18,Iowa,0.544,0.049,0.195,0.156,0.009,0.047,1,NaN
19,Kansas,0.543,0.056,0.139,0.15,0.02,0.092,1,NaN
20,Kentucky,0.47,0.039,0.255,0.158,0.014,0.064,1,NaN
21,Louisiana,0.418,0.049,0.293,0.137,0.014,0.089,1,NaN
22,Maine,0.465,0.057,0.2,0.183,0.015,0.081,1,NaN
23,Maryland,0.547,0.054,0.187,0.133,0.019,0.059,1,NaN
24,Massachusetts,0.559,0.054,0.221,0.131,0.005,0.03,1,NaN
25,Michigan,0.509,0.052,0.217,0.159,0.006,0.058,1,NaN
26,Minnesota,0.578,0.052,0.169,0.147,0.007,0.048,1,NaN
27,Mississippi,0.422,0.047,0.242,0.142,0.018,0.129,1,NaN
28,Missouri,0.52,0.057,0.144,0.164,0.013,0.101,1,NaN
29,Montana,0.43,0.08,0.208,0.181,0.018,0.083,1,NaN
30,Nebraska,0.568,0.069,0.126,0.142,0.016,0.079,1,NaN
31,Nevada,0.495,0.055,0.178,0.14,0.017,0.115,1,NaN
32,New Hampshire,0.562,0.053,0.132,0.177,0.012,0.064,1,NaN
33,New Jersey,0.557,0.054,0.166,0.138,0.005,0.079,1,NaN
34,New Mexico,0.366,0.04,0.327,0.15,0.018,0.098,1,NaN
35,New York,0.498,0.058,0.257,0.13,0.004,0.053,1,NaN
36,North Carolina,0.463,0.067,0.179,0.153,0.024,0.114,1,NaN
37,North Dakota,0.557,0.09,0.122,0.138,0.021,0.074,1,NaN
38,Ohio,0.526,0.04,0.2,0.159,0.008,0.067,1,NaN
39,Oklahoma,0.455,0.055,0.17,0.151,0.02,0.149,1,NaN
40,Oregon,0.493,0.057,0.208,0.162,0.009,0.071,1,NaN
41,Pennsylvania,0.518,0.051,0.202,0.163,0.008,0.057,1,NaN
42,Rhode Island,0.54,0.059,0.205,0.146,0.008,0.043,1,NaN
43,South Carolina,0.454,0.061,0.188,0.168,0.022,0.108,1,NaN
44,South Dakota,0.515,0.083,0.128,0.161,0.018,0.096,1,NaN
45,Tennessee,0.478,0.056,0.195,0.15,0.018,0.102,1,NaN
46,Texas,0.476,0.057,0.159,0.109,0.016,0.184,1,NaN
47,Utah,0.605,0.093,0.093,0.1,0.012,0.096,1,NaN
48,Vermont,0.484,0.048,0.239,0.175,0.01,0.044,1,NaN
49,Virginia,0.541,0.052,0.135,0.148,0.044,0.08,1,NaN
50,Washington,0.529,0.05,0.198,0.139,0.018,0.066,1,NaN
51,West Virginia,0.44,0.025,0.266,0.19,0.013,0.066,1,NaN
52,Wisconsin,0.565,0.053,0.161,0.155,0.008,0.058,1,NaN
53,Wyoming,0.511,0.071,0.115,0.162,0.018,0.123,1,NaN

In [5]:
# Drop more unnecessary rows and reset index
insurance_df = insurance_df.drop(labels=[0,1])
insurance_df = insurance_df.reset_index()
insurance_df.head()

,index,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
1,3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
2,4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
3,5,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
4,6,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN

In [6]:
# Drop additional index column
insurance_df = insurance_df.drop(columns="index")
insurance_df.head()

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
1,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
2,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
3,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
4,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN

In [7]:
#Rename columns to be used later
insurance_df = insurance_df.rename(columns={"Title: Health Insurance Coverage of the Total Population | KFF":"State", 
                             "Unnamed: 6":"Uninsured (%)"})
insurance_df.head()

,State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Uninsured (%),Unnamed: 7,Unnamed: 8
0,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
1,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
2,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
3,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
4,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN

In [8]:
# Create lists
insured = []
uninsured = []
states = []

for index, row in insurance_df.iterrows():
    state = insurance_df.loc[index, "State"]
    uninsured_dec = insurance_df.loc[index, "Uninsured (%)"]
    uninsured_per = (Decimal(uninsured_dec) * Decimal(100))
    percent = (Decimal(100) - Decimal(uninsured_per))
    uninsured.append(float(uninsured_per))
    insured.append(float(percent))
    states.append(state)
    
print(states, insured, uninsured)

['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'] [90.8, 90.3, 88.5, 88.9, 90.9, 92.2, 92.2, 94.1, 93.4, 96.4, 86.9, 86.6, 95.9, 89.5, 92.7, 91.2, 95.3, 90.8, 93.6, 91.1, 91.9, 94.1, 97.0, 94.2, 95.2, 87.1, 89.9, 91.7, 92.1, 88.5, 93.6, 92.1, 90.2, 94.7, 88.6, 92.6, 93.3, 85.1, 92.9, 94.3, 95.7, 89.2, 90.4, 89.8, 81.6, 90.4, 95.6, 92.0, 93.4, 93.4, 94.2, 87.7] [9.2, 9.7, 11.5, 11.1, 9.1, 7.8, 7.8, 5.9, 6.6, 3.6, 13.1, 13.4, 4.1, 10.5, 7.3, 8.8, 4.7, 9.2, 6.4, 8.9, 8.1, 5.9, 3.0, 5.8, 4.8, 12.9, 10.1, 8.3, 7.9, 11.5, 6.4, 7.9, 9.8, 5.3, 11.4, 7.4, 6.7, 14.9, 7.1, 5.7, 4.3, 10.8, 9.6, 10.2, 18.4, 9.6, 4.4, 8.0, 6.6, 6.6, 5.8, 12.3]

In [9]:
# Create new dataframe
insurance_df = pd.DataFrame({
    "State": states,
    "Uninsured (%)": uninsured,
    "Insured (%)": insured
})
insurance_df

                   State  Uninsured (%)  Insured (%)
0          United States            9.2         90.8
1                Alabama            9.7         90.3
2                 Alaska           11.5         88.5
3                Arizona           11.1         88.9
4               Arkansas            9.1         90.9
5             California            7.8         92.2
6               Colorado            7.8         92.2
7            Connecticut            5.9         94.1
8               Delaware            6.6         93.4
9   District of Columbia            3.6         96.4
10               Florida           13.1         86.9
11               Georgia           13.4         86.6
12                Hawaii            4.1         95.9
13                 Idaho           10.5         89.5
14              Illinois            7.3         92.7
15               Indiana            8.8         91.2
16                  Iowa            4.7         95.3
17                Kansas            9.2         90.8
18              Kentucky            6.4         93.6
19             Louisiana            8.9         91.1
20                 Maine            8.1         91.9
21              Maryland            5.9         94.1
22         Massachusetts            3.0         97.0
23              Michigan            5.8         94.2
24             Minnesota            4.8         95.2
25           Mississippi           12.9         87.1
26              Missouri           10.1         89.9
27               Montana            8.3         91.7
28              Nebraska            7.9         92.1
29                Nevada           11.5         88.5
30         New Hampshire            6.4         93.6
31            New Jersey            7.9         92.1
32            New Mexico            9.8         90.2
33              New York            5.3         94.7
34        North Carolina           11.4         88.6
35          North Dakota            7.4         92.6
36                  Ohio            6.7         93.3
37              Oklahoma           14.9         85.1
38                Oregon            7.1         92.9
39          Pennsylvania            5.7         94.3
40          Rhode Island            4.3         95.7
41        South Carolina           10.8         89.2
42          South Dakota            9.6         90.4
43             Tennessee           10.2         89.8
44                 Texas           18.4         81.6
45                  Utah            9.6         90.4
46               Vermont            4.4         95.6
47              Virginia            8.0         92.0
48            Washington            6.6         93.4
49         West Virginia            6.6         93.4
50             Wisconsin            5.8         94.2
51               Wyoming           12.3         87.7